// Some variables
$color-grey-darker: #444;
$color-grey-light: #ccc;
$color-grey-lighter: #e2e2e2;

.radio-button {
    display: none;
}

.radio-button-click-target {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    padding: 14px 14px 14px 32px;
    position: relative;

    &:hover,
    &:focus {
        .radio-button-circle:before {
            border-color: $color-grey-darker;
        }
    }

    &:active .radio-button-circle:before {
        transform: scale(1.1);
    }
}

.radio-button-circle {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 8px;
    left: 4px;
    position: absolute;
    top: 20px;
    transition: background-color .1s ease-out;
    vertical-align: middle;
    width: 8px;

    &:before {
        border: 3px solid $color-grey-light;
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 20px;
        position: absolute;
        top: -6px;
        transition: border-color .1s ease-out,
                    transform .1s ease-out;
        left: -6px;
        width: 20px;
    }
}

.radio-button:checked + .radio-button-click-target .radio-button-circle {
    background-color: $color-grey-darker;
}

.radio-button:disabled + .radio-button-click-target {
    cursor: not-allowed;

    .radio-button-circle:before {
        border-color: $color-grey-lighter;
    }

    &:active .radio-button-circle:before {
        transform: none;
    }
}



.checkbox {
    display: none;
}

.checkbox-click-target {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    padding: 14px 14px 14px 32px;
    position: relative;

    &:hover .checkbox-box,
    &:focus .checkbox-box {
        border-color: $color-grey-darker;

        &:before {
            border-color: $color-grey-darker;
        }
    }

    &:active .checkbox-box {
        transform: scale(1.1);
    }
}

.checkbox-box {
    border: 3px solid $color-grey-light;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: absolute;
    top: 14px;
    left: 0;
    transition: background-color .1s ease-out;
    vertical-align: middle;
    width: 20px;
}

.checkbox-box:after {
    border: 3px solid $color-grey-darker;
    border-top: none;
    border-right: none;
    content: '';
    height: 5px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    transition: opacity .1s ease-out;
    width: 9px;
}

.checkbox:checked + .checkbox-click-target .checkbox-box:after {
    opacity: 1;
}

.checkbox:disabled + .checkbox-click-target {
    cursor: not-allowed;

    .checkbox-box {
        border-color: $color-grey-lighter;
    }

    &:hover .checkbox-box,
    &:focus .checkbox-box {
        border-color: $color-grey-lighter;
    }

    &:active .checkbox-box {
        transform: none;
    }
}

// Some resets:
html, body { font-family: sans-serif; box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
